.container-small-card{
    width: 260pt;
    border: 1px solid rgb(224, 224, 224);
    padding: 6pt;
    background-color: white;
    border-radius: 3pt;
}
.container-small-card a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.small-card-photo img{
    border-bottom: rgb(152, 152, 152) solid 2px;
    max-height: 50pt;
    min-height: 50pt;
    border-radius: 5pt;
    margin-bottom: 2pt;
}
.small-card-title h1{
    padding-left: 5pt;
    color:var(--cor-fonte-titulo);
    text-align: left;
    font-size: 12pt;
    padding-top: 10pt;
    padding-left: 10pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.small-card-description p{
    padding-left: 10pt;
    width: 180pt;
    color: rgb(79, 79, 79);
    margin-bottom: 10pt;
    font-size: 8pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}