.articles-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25pt;
    gap: 25pt;
    align-self: start;
}
.articles-others{
    display: flex;
    flex-direction: column;
    gap: 25pt;
    align-self: start;
    
}