
<app-page-banner></app-page-banner>

<div class="articles-container" *ngFor="let card of cards" [ngSwitch]="card.id">
    <div class="articles-main" *ngSwitchCase="1">
        <app-big-card   
        Id="{{card.id}}"
        photoCover="{{card.photo}}"
        cardTitle="{{card.title}}"
        cardDescription= "{{card.description}}"
        >
        </app-big-card>
    </div>
  
    <div class="articles-others" *ngSwitchDefault>
    <app-small-card
  
    Id="{{card.id}}"
    photoCover="{{card.photo}}"
    cardTitle="{{card.title}}"
    cardDescription= "{{card.description}}"
    ></app-small-card>
    </div>
</div>