
<app-page-banner></app-page-banner>

<div class="articles-container">
    <div class="articles-main">
        <app-big-card 
        photoCover="../../../assets/images/placeholder-image.png"
        cardTitle="Novo blog lançado"
        lorem= "loren ipsum"
        >
        </app-big-card>
    </div>
    
    <div class="articles-others">
    <app-small-card
        photoCover="../../../assets/images/placeholder-image.png"
        cardTitle="Novo blog lançado"
        cardDescription= "loren ipsum">
    </app-small-card>

    <app-small-card
        photoCover="../../../assets/images/placeholder-image.png"
        cardTitle="Novo blog lançado"
        cardDescription= "loren ipsum"></app-small-card>

    <app-small-card
        photoCover="../../../assets/images/placeholder-image.png"
        cardTitle="Novo blog lançado"
        cardDescription= "loren ipsum">
    </app-small-card>
    </div>
</div>